<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @paciente.data_nascimento %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @paciente.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @paciente.cpf %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @paciente.sexo %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @paciente.cor %>
</p>

<p>
  <strong>Nome mae:</strong>
  <%= @paciente.nome_mae %>
</p>

<p>
  <strong>Nome pai:</strong>
  <%= @paciente.nome_pai %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @paciente.cep %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= @paciente.localidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @paciente.uf %>
</p>

<p>
  <strong>Ibge:</strong>
  <%= @paciente.ibge %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @paciente.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @paciente.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @paciente.bairro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @paciente.numero %>
</p>

<p>
  <strong>Convenio:</strong>
  <%= @paciente.convenio %>
</p>

<p>
  <strong>Titular conv:</strong>
  <%= @paciente.titular_conv %>
</p>

<p>
  <strong>Carteirinha conv:</strong>
  <%= @paciente.carteirinha_conv %>
</p>

<p>
  <strong>Validade conv:</strong>
  <%= @paciente.validade_conv %>
</p>

<p>
  <strong>Cns conv:</strong>
  <%= @paciente.cns_conv %>
</p>

<p>
  <strong>Receber infadc:</strong>
  <%= @paciente.receber_infadc %>
</p>

<p>
  <strong>Receber email:</strong>
  <%= @paciente.receber_email %>
</p>

<p>
  <strong>Receber sms:</strong>
  <%= @paciente.receber_sms %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @paciente.observacao %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @paciente.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @paciente.celular %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
